@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Gilroy:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('http://fonts.cdnfonts.com/css/gilroy-bold');

.gilroy-font {
  font-family: 'Gilroy', sans-serif;
}

@font-face {
  font-family: 'gilroy-reguler';
  src: url('/public/font/Gilroy-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'gilroy-semibold';
  src: url('/public/font/Gilroy-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'gilroy-medium';
  src: url('/public/font/Gilroy-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'gilroy-bold';
  src: url('/public/font/Gilroy-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'gilroy-black';
  src: url('/public/font/Gilroy-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'gilroy-thin';
  src: url('/public/font/Gilroy-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'gilroy-light';
  src: url('/public/font/Gilroy-Light.ttf') format('truetype');
}

.carousel {
  align-items: center;
  display: flex;
  justify-content: center;
}
@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}
@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}
.slide-track {
  width: calc(160px * 20);
  display: flex;
  animation: scroll 20s linear infinite;
  justify-content: space-between;
}


.slide {
  width: 150px;
  height: 60px;

  display: grid;
  place-items: center;
  transition:0.5s;
  cursor:pointer;
}
.slide:hover{
  transform:scale(0.8)
}

@keyframes scroll {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(calc(-500px * 10));
  }
}

@keyframes scroll2 {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(calc(-150px * 5));
  }
}

@media screen and (max-width: 768px) {
  .slide-track {
    width: calc(80px * 20);
  }

  .slide-track2 {
    width: calc(80px * 15);
  }

  .slide {
    width: 80px;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(calc(-500px * 7));
    }
  }

  @keyframes scroll2 {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(calc(-500px * 7));
    }
  }
}


/* Calendar in Admin Dashboard */
